<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Saloni Bhartia</li>
    <li>Software Engineer</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>London, United Kingdom</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:salonibhartia1996@gmail.com">salonibhartia1996@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://saloniBhartia.github.io">https://saloniBhartia.github.io</a></li>
  </ul>
</div>
